* {
  box-sizing: border-box;
}

body {
  --main-bg-color: #222;
  --main-font-color: #eee;
  background: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: Helvetica, sans-serif;
  text-align: center;
}

#title {
  font-size: 3.5rem;
  letter-spacing: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

#gameboard {
  display: flex;
  flex-wrap: wrap;
  max-width: 35vmax;
  text-align: center;
  align-content: center;
  /* margin-top: 5rem; */
  margin-left: auto;
  margin-right: auto;
  outline: 1rem solid darkgray;
  transition: 1.25s cubic-bezier(0.18, 1.52, 0.4, 0.87);
}

.tile {
  background: var(--main-font-color);
  border: 1px solid var(--main-bg-color);
  min-height: 5vmax;
  min-width: 5vmax;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: 0.5s ease-in-out;
  z-index: 1;
  outline: none;
  /* box-shadow: 0 0 5px 1px var(--main-bg-color); */
  z-index: 10;
}

.tile:hover {
  transition: 1s cubic-bezier(0.18, 1.52, 0.4, 0.87);
  opacity: 0.5;
}

.token-red {
  background: red;
  width: 4.75vmax;
  height: 4.75vmax;
  border-radius: 50px/50px;
  box-shadow: 2px 2px 1px darkgray;
  z-index: 100;
}

.token-black {
  background: var(--main-bg-color);
  width: 4.75vmax;
  height: 4.75vmax;
  border-radius: 50px/50px;
  box-shadow: 2px 2px 1px darkgray;
  z-index: 100;
}

.red {
  color: red;
}

.title-container {
  border-bottom: 1rem solid red;
  margin: 5rem auto;
  max-width: 75vmin;
}
